    <%- include("navbar") %>

        <div class="container mt-4">
            <h1>All Blog Posts</h1>

            <% posts.forEach(post=> { %>
                <div class="card mt-3">
                    <div class="card-body">
                        <h3>
                            <%= post.title %>
                        </h3>
                        <p>
                            <%= post.content.substring(0, 100) %>...
                        </p>
                        <small>By <%= post.author.username %></small><br>

                        <a href="/posts/<%= post._id %>" class="btn btn-primary mt-2">Read More</a>

                        <% if (locals.user && (locals.user._id==post.author._id || locals.user.role==="admin" )) { %>
                            <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
                                <button class="btn btn-danger mt-2">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <% }) %>
        </div>
